<div id="business" class="section-item section-bg-image     parallax-window" data-parallax="scroll"
  data-natural-height="1000" data-natural-width="1920" data-position="top"
  data-image-src="/images/bg-6.jpg"
 >
  <div class="content container">

    <div class="row">
      <div id="column_VQMTL" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_EP6go" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.1393749841682872">
        <div class="row">
          <div class="col-md-12 hc_subtitle_cnt">
            <div class="title-base no-margins text-left" id="wcYm7">
              <hr>
              <h2>The Business</h2>
              <p>We take the OpenAPI and look at the overall design and structure of your API, evaluating the most common areas in which APIs have been standardized across many different industries.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="column_Bxsav" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.15967537872855675">
        <div class="row">
          <div class="col-md-12 hc_text_block_cnt">
            <div id="2v54y" class="">We take the OpenAPI and look at the overall design and structure of your API, evaluating the most common areas in which APIs have been standardized across many different industries.</div>
          </div>
        </div>
      </div>
      <div id="column_5LwEx" class="hc_column_cnt col-md-12">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
        </div>
      </div>
      <div id="column_Jrl5I" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_Bsg1b" class="hc_column_cnt col-md-4 col-sm-12 fade-bottom" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.16198503400334308">
        
        <div class="row">

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-leafs"></i></div>
              <div class="icon-box-cell"><label class="text-m">Descriptions</label>
                <p class="text-s">The name, description, tags, and other metadata about your API. </p>
              </div>
            </div>
          </div>

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">Who?</label>
                <p class="text-s">Help you consider who will be using your API and what they will need.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="column_kj43w" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>          

      <div id="column_P63j3" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
              <div class="icon-box-cell"><label class="text-m">What</label>
                <p class="text-s">Thinking through what people will be doing when using your API.</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">Tags</label>
                <p class="text-s">Considering how you will organize and discover your APIs using tags.</p>
              </div>
            </div>
          </div>              
          
        </div>
      </div>      
      
      <div id="column_Jrl5I" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>              

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
              <div class="icon-box-cell"><label class="text-m">Change</label>
                <p class="text-s">We evaluate how you are managing change across your APIs.</p>
              </div>
            </div>
          </div>            
          
        </div>
        
      </div>  
      
      <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">Narrative</label>
                <p class="text-s">Ensuring your API tells a story and possesses a compelling narrative</p>
              </div>
            </div>
          </div>              
          
        </div>
        
      </div>            

    </div>
  </div>
</div>