<div id="business" class="section-item section-bg-image     parallax-window" data-parallax="scroll"
  data-natural-height="1000" data-natural-width="1920" data-position="top"
  data-image-src="/images/bg-6.jpg"
 >
  <div class="content container">

    <div class="row">
      <div id="column_VQMTL" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_EP6go" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.1393749841682872">
        <div class="row">
          <div class="col-md-12 hc_subtitle_cnt">
            <div class="title-base no-margins text-left" id="wcYm7">
              <hr>
              <h2>{{ site.business_title }}</h2>
              <p>{{ site.business_body_1 }}</p>
            </div>
          </div>
        </div>
      </div>
      <div id="column_Bxsav" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.15967537872855675">
        <div class="row">
          <div class="col-md-12 hc_text_block_cnt">
            <p>{{ site.business_body_2 }}</p>
            <p>{{ site.business_body_3 }}</p>
          </div>
        </div>
      </div>
      <div id="column_5LwEx" class="hc_column_cnt col-md-12">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
        </div>
      </div>
      <div id="column_Jrl5I" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_Bsg1b" class="hc_column_cnt col-md-4 col-sm-12 fade-bottom" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.16198503400334308">
        
        <div class="row">

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-leafs"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_one }}</label>
                <p class="text-s">{{ site.business_desc_one }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_two }}</label>
                <p class="text-s">{{ site.business_desc_two }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="column_kj43w" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>          

      <div id="column_P63j3" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_three }}</label>
                <p class="text-s">{{ site.business_desc_three }}</p>
              </div>
            </div>
          </div>

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_four }}</label>
                <p class="text-s">{{ site.business_desc_four }}</p>
              </div>
            </div>
          </div>              
          
        </div>
      </div>      
      
      <div id="column_Jrl5I" class="hc_column_cnt col-md-4  hidden-sm">
        <div class="row"></div>
      </div>

      <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>              

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_five }}</label>
                <p class="text-s">{{ site.business_desc_five }}</p>
              </div>
            </div>
          </div>            
          
        </div>
        
      </div>  
      
      <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
        <div class="row">

          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>

          <div class="col-md-12 hc_icon_box_cnt">
            <div class="icon-box text-left">
              <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
              <div class="icon-box-cell"><label class="text-m">{{ site.business_title_six }}</label>
                <p class="text-s">{{ site.business_desc_six }}</p>
              </div>
            </div>
          </div>              
          
        </div>
        
      </div>            

    </div>
  </div>
</div>