<footer class="footer-sides footer-parallax " style="opacity: 1;">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-left footer-left">
          <div class="tag-row icon-row icon-row-square">
            <span><a href="/#home">Home</a></span>
            <span><a href="/#review">Review</a></span>
          </div>
        </div>
        <div class="col-md-6 footer-right ">
          <div class="btn-group navbar-social">
            <div class="btn-group social-group">
              <a target="_blank" rel="nofollow" href="#"><i class="fa fa-facebook"></i></a>
              <a target="_blank" rel="nofollow" href="https://www.linkedin.com/company/api-review-shop/"><i class="fa fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text"> © 2024 API Review Shop</div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript">
  var ajax_url = 'https://themes.framework-y.com/structura/square/wp-admin/admin-ajax.php';
</script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/imagesloaded.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<style type="text/css" data-typed-js-css="true">
  .typed-cursor {
    opacity: 1;
  }

  .typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }

  @keyframes typedjsBlink {
    50% {
      opacity: 0.0;
    }
  }

  @-webkit-keyframes typedjsBlink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.0;
    }

    100% {
      opacity: 1;
    }
  }

  .typed-fade-out {
    opacity: 0;
    transition: opacity .25s;
  }

  .typed-cursor.typed-cursor--blink.typed-fade-out {
    -webkit-animation: 0;
    animation: 0;
  }
</style>

<script type="text/javascript" src="/js/smooth.scroll.min.js"></script>
<script type="text/javascript" src="/js/parallax.min.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/jquery.progress-counter.js"></script>
<script type="text/javascript" src="/js/isotope.min.js"></script>
<script type="text/javascript" src="/js/google.maps.min.js"></script>
<script type="text/javascript" src="/js/js"></script>
<script type="text/javascript" src="/js/contact-form.js"></script>
<script type="text/javascript" src="/js/datepicker.min.js"></script>
<script type="text/javascript" src="/js/wp-embed.min.js"></script>

</body>
</html>