<div id="home" class="section-item section-bg-image     parallax-window" data-parallax="scroll"
  data-natural-height="1000" data-natural-width="1920" data-position="top"
  data-image-src="/images/bg-5.png"
  style="z-index: 4; overflow: visible;">
  <div class="content container">
    <div class="row">
      <div id="column_EWzlP" class="hc_column_cnt col-md-12    fade-in"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.7243919455651018">
        <div class="row">
          <div class="col-md-12 hc_fixed_area_cnt">
            <div class="fixed-area   fixed-inner-menu active" data-topscroll="0"
              style="width: 1140px; top: 0px; left: 285px; position: fixed;">
              <div class="row">
                <div id="column_LDVf0" class="hc_column_cnt col-md-2  visible-sm col-sm-6 scroll-show showed">
                  <div class="row">
                    <div style="margin-left: 20px;">
                        <img style="margin-top: 6px;" src="/images/api-review-shop.png" alt="API Review Shop">
                    </div>
                  </div>
                </div>
                <div id="column_BwLwr" class="hc_column_cnt col-md-6  col-sm-12">
                  <div class="row">
                    <div class="col-md-12 hc_inner_menu_cnt">
                      <div class="navbar navbar-inner  scroll-change scroll-css" style="margin-left: -10px">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>menu</span><i
                            class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse" style="display: block; opacity: 1;">
                          <ul id="hc-inner-menu" class="nav navbar-nav inner">
                            <li class="current-active active"><a href="/#home">Home</a></li>
                            <li class=""><a href="{{ site.url }}/#business">Business</a></li>
                            <li class=""><a href="{{ site.url }}/#technical">Technical</a></li>
                            <li class=""><a href="{{ site.url }}/#reviewers">Reviewers</a></li>
                            <li class=""><a href="{{ site.url }}/#criteria">Criteria</a></li>
                            <li class=""><a href="{{ site.url }}/#review">Review</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="column_KPToA" class="hc_column_cnt col-md-4  hidden-sm">
                  <div class="row">
                    <div class="col-md-12 hc_inner_menu_cnt">
                      <div class="navbar navbar-inner  pull-right scroll-show showed">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>menu</span><i
                            class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse" style="display: block; opacity: 1;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space   hidden-sm">
          </div>
        </div>
      </div>
      <div id="column_YWkbG" class="hc_column_cnt col-md-4  col-sm-12  text-uppercase text-74 fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.6809597477571461">
        <div class="row">
          <div class="col-md-12 hc_title_tag_cnt">
            <h2 id="H70iW" class="  text-uppercase text-74">API</h2>
          </div>
          <div class="col-md-12 hc_title_tag_cnt">
            <h2 id="DrCiT" class="no-margins text-uppercase text-74 typing" style="height: 88px;">Review</h2>
          </div>
        </div>
      </div>
      <div id="column_LSUu8" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.52861685326528">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m visible-sm">
          </div>
          <div class="col-md-12 hc_text_block_cnt">
            <div id="dax3E">APIs power our desktop, web, mobile, and device applications. APIs are powering all of the applications, as well system to system integrations we depend on to make business happen each day. Each and every business today are using APIs, but what makes the difference is how they are taking control of the production and consumption of APIs across operations in repeatable ways.</div>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m" style=" height: 55px">
          </div>
        </div>
      </div>

      <div id="column_7l4SZ" class="hc_column_cnt col-md-4">
        <div class="row"></div>
      </div>

      <div id="column_G5bYL" class="hc_column_cnt col-md-12 fade-bottom" style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.5454264444434358">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
        </div>
      </div>

      <div id="column_Ekvbr" class="hc_column_cnt col-md-4  col-sm-6   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.6420647912567503">
        <div class="row">
          <div class="col-md-12 hc_text_block_cnt">
            <div id="ExihO" class="text-s">Your company is producing APIs today without the consistency you need across teams and lines of business. This often is the result of legacy practices building up, a lack of API design skills across teams, or a number of other factors. The inconsistencies across your APIs, and lack of alignment with common API practices are costing you money, and introducing unnecessary friction across your business operations.</div>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m  visible-xs">
          </div>
        </div>
      </div>

      <div id="column_AIwuC" class="hc_column_cnt col-md-4  col-sm-6   fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.28417612388316793">
        <div class="row">
          <div class="col-md-12 hc_text_block_cnt">
            <div id="wAvlY" class=" text-s">Our services are simple. We provide impartial external design reviews for your APIs. We aren't concerned with the same business and politics as you are, and can help be that extra set of eyes you need bring the consistency you need. We aren't the domain experts you are, but we know APIs, and can help bring the expertise you need to shift your API operations to the next level.</div>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>