<div id="report" class="section-item section-empty">
  <div class="content container">
    <div class="row">
      <div id="column_bxjOH" class="hc_column_cnt col-md-8 fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.05955360145237942">
        <div class="row">
          <div class="col-md-12 hc_masonry_list_cnt">
            <div class="maso-list">
              <div class="navbar navbar-inner">
                <div class="navbar-toggle">
                  <i class="fa fa-bars"></i>
                  <span>Menu</span>
                  <i class="fa fa-angle-down"></i>
                </div>
                <div class="collapse navbar-collapse" style="display: block; opacity: 1;">
                  <ul class="nav navbar-nav over inner maso-filters">
                    <li class="current-active active">
                      <a class="maso-filter-auto" data-filter="maso-item">All</a>
                    </li>

                    {% for nav in site.report_nav %}      
                      <li><a data-filter="{{ nav }}">{{ nav }}</a></li>
                    {% endfor %}  

                    <li>
                      <a class="maso-order maso-filter-auto" data-sort="asc">
                        <i class="fa fa-arrow-down"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="maso-box row" style="position: relative; height: 1053px;">                

                {% for report in site.reports limit:4 %}      
                <div data-sort="0" class="maso-item col-md-6  {{ report.tags }}" style="position: absolute; left: 0%; top: 0px; visibility: visible;">
                  <div class="advs-box advs-box-top-icon-img boxed" style="visibility: visible; opacity: 1;">
                    <a class="img-box img-scale-up" href="{{ report.url }}" style="opacity: 1;">
                      <span>
                        <img alt="" src="{{ report.image }}">
                      </span>
                    </a>
                    <div class="advs-box-content" style="opacity: 1;">
                      <h3>{{ report.title }}</h3>
                      <p class="">{{ report.body | truncate: 25 }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}    

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="column_KO3rG" class="hc_column_cnt col-md-4    fade-bottom"
        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
        data-anima="" aid="0.09656770231604561">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m  visible-xs">
          </div>
          <div class="col-md-12 hc_subtitle_cnt">
            <div class="title-base     text-left" id="p2E9r">
              <hr>
              <h2>{{ site.report_title }}</h2>
              <p>{{ site.report_desc }}</p>
            </div> 
          </div>
          <div class="col-md-12 hc_icon_list_simple_cnt">
            <ul id="AHd88" class="ul-squares no-icons  text-left" style=" list-style: square">
              
              {% for feature in site.report_features %}
                <li><i class="fa-li"></i> {{ feature }}</li>
              {% endfor %}    

            </ul>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space l">
          </div>
          <div class="col-md-12 hc_button_cnt">
            <div id="TS4qI" class="button-cnt" style="display: block; text-align:left">
              <a class="btn btn-sm scroll-to  visible" href="report/">All report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>