<div id="review" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_8ivfU" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.7270914581439392">
          <div class="row">
            <div class="col-md-12 hc_title_tag_cnt">
              <h2 id="4Gl7t" class=" no-margins">{{ site.review_title }}</h2>
            </div>
            <div class="col-md-12 hc_text_block_cnt">
              <div id="Ett8V" class="">{{ site.review_body_one }}</div>
            </div>
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>

            <div class="col-md-12 hc_icon_list_simple_cnt">
              <ul id="uki9f" class="fa-ul text-left">
                {% for step in site.review_steps %}      
                  <li><i class="fa-li im-envelope"></i> {{ step }}</li>
                {% endfor %}                
              </ul>
            </div>
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
            <div class="col-md-12 hc_text_block_cnt">
              <div id="Ett8V" class="">{{ site.review_body_two }}</div>
            </div>            
          </div>
        </div>
        <div id="column_gqWwb" class="hc_column_cnt col-md-2  hidden-sm">
          <div class="row"></div>
        </div>
        <div id="column_4WQJl" class="hc_column_cnt col-md-6  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.846825496770437">
          <div class="row">
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m  visible-sm" style=" height: 55px">
            </div>
            <div class="col-md-12 hc_contact_form_cnt">
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdTDDGiK3TBia8e7r-LdnXcX_bzrdbMEFfqek7qi3tbT2YF_w/viewform?embedded=true" width="640" height="780" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>