<div id="reviewers" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_zrPrV" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7303390887209626">
          <div class="row">
            <div class="col-md-12 hc_subtitle_cnt">
              <div class="title-base text-left" id="o7Wrb">
                <hr>
                <h2>API Reviewers</h2>
                <p>We have the API design talent that you have been looking for--available on demand, as you need it.</p>
                <p>You don't have tim eto get all your teams up to speed when it comes to API design, and can lean on our team as your core source of design talent, or as an overflow and second pair of eyes.</p>
              </div>
            </div>
          </div>
        </div>
        <div id="column_7CFaM" class="hc_column_cnt col-md-8  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.14425788586071264">
          <div class="row">
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="/images/nick.png" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>Nick</h2>
                      <h4>API Designer</h4>
                      <hr class="e">
                      <p>Nick is all about simple REST APIs, and the impact it can have they have when done well.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="/images/jerry-1.jpg" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>Jerry</h2>
                      <h4>API Designer</h4>
                      <hr class="e">
                      <p>Jerry is our old XML guy, who we have converted to the modern JSON way of doing things.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="/images/jon.png" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>Jon</h2>
                      <h4><h4>API Designer</h4></h4>
                      <hr class="e">
                      <p>Jon is looking for the story in your API, making sure it is as intuitive as it possibly can.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>