<div id="reviewers" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_zrPrV" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7303390887209626">
          <div class="row">
            <div class="col-md-12 hc_subtitle_cnt">
              <div class="title-base text-left" id="o7Wrb">
                <hr>
                <h2>{{ site.reviewers_title }}</h2>
                <p>{{ site.reviewers_body_one }}</p>
                <p>{{ site.reviewers_body_two }}</p>
              </div>
            </div>
          </div>
        </div>
        <div id="column_7CFaM" class="hc_column_cnt col-md-8  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.14425788586071264">
          <div class="row">
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="{{ site.reviewer_logo_one }}" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>{{ site.reviewer_name_one }}</h2>
                      <h4>{{ site.reviewer_title_one }}</h4>
                      <hr class="e">
                      <p>{{ site.reviewer_desc_one }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="{{ site.reviewer_logo_two }}" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>{{ site.reviewer_name_two }}</h2>
                      <h4>{{ site.reviewer_title_two }}</h4>
                      <hr class="e">
                      <p>{{ site.reviewer_desc_two }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img src="{{ site.reviewer_logo_three }}" style="width: 100%;">
                    </a>
                    <div class="content-box">
                      <h2>{{ site.reviewer_name_three }}</h2>
                      <h4>{{ site.reviewer_title_three }}</h4>
                      <hr class="e">
                      <p>{{ site.reviewer_desc_three }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>