<div id="reviewers" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_zrPrV" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7303390887209626">
          <div class="row">
            <div class="col-md-12 hc_subtitle_cnt">
              <div class="title-base text-left" id="o7Wrb">
                <hr>
                <h2>API Reviewers</h2>
                <p>Only the most inspired and talented people form all the world join our exclusive club</p>
              </div>
            </div>
            <div class="col-md-12 hc_button_cnt">
              <div id="ck5oH" class="button-cnt" style="display: block; text-align:left">
                <a class="btn-text" href="#">
                  reviewers</a>
              </div>
            </div>
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m  visible-sm">
            </div>
          </div>
        </div>
        <div id="column_7CFaM" class="hc_column_cnt col-md-8  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.14425788586071264">
          <div class="row">
            <div id="column_3PAAF" class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img alt="" class="anima" src="/images/nick.png" aid="0.6718050363236483"
                        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;">
                    </a>
                    <div class="content-box">
                      <h2>
                       Nick </h2>
                      <h4>API Designer</h4>
                      <hr class="e">
                      <p>
                        Lorem ipsum is text of the printing and industry manulo pertuso malito. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="column_3PAAF" class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img alt="" class="anima" src="/images/jerry-1.png" aid="0.6718050363236483"
                        style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;">
                    </a>
                    <div class="content-box">
                      <h2>Jerry </h2>
                      <h4>API Designer</h4>
                      <hr class="e">
                      <p>
                        Lorem ipsum is text of the printing and industry manulo pertuso malito. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="column_GtIEE" class="hc_column_cnt col-md-4">
              <div class="row">
                <div class="col-md-12 hc_niche_content_box_reviewers_cnt">
                  <div class="advs-box niche-box-reviewers" data-anima="scale-up" data-trigger="hover">
                    <a class="img-box scroll-to" href="#">
                      <img alt="" class="anima" src="/images/jon.png">
                    </a>
                    <div class="content-box">
                      <h2>Jon</h2>
                      <h4><h4>API Designer</h4></h4>
                      <hr class="e">
                      <p>
                        Lorem ipsum is text of the printing and industry manulo pertuso malito. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>