<div id="section_t1jso" class="section-item section-bg-image     parallax-window" data-bleed="0"
  data-parallax="scroll" data-natural-height="601" data-natural-width="1920" data-position="top"
  data-image-src="/images/internet.png"
 >
  <div class="content container">
    <div class="row">
      <div id="column_lkDsj" class="hc_column_cnt col-md-12">
        <div class="row">
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
          <div class="col-md-12 hc_image_slider_cnt">
            <div id="vKTl4" class="flexslider carousel outer-navs no-navs" data-options="controlNav:false,numItems:3,minWidth:400,itemMargin:200">

              <div class="flex-viewport" style="overflow: hidden; position: relative;">
                <ul class="slides"
                  style="width: 2000%; transition-duration: 0.6s; transform: translate3d(-468px, 0px, 0px);">
                  <li style="padding-right: 300px; width: 1000px; float: left; display: block;"><img class="" alt="slide" src="/images/openapi.png" draggable="false" width="500" style="width: 500px;"></li>
                  <li style="padding-right: 300px; width: 1000px; float: left; display: block;"><img class="" alt="slide" src="/images/json-schema.png" draggable="false" width="500" style="width: 500px;"></li>
                </ul>
              </div>
              <ul class="flex-direction-nav">
                <li class="flex-nav-prev"><a class="flex-prev"
                    href="#"></a></li>
                <li class="flex-nav-next"><a class="flex-next"
                    href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 hc_space_cnt">
            <hr class="space m">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>