<div id="technical" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_z70PQ" class="hc_column_cnt col-md-12  text-center   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.16726101266016036">
          <div class="row">

            <div id="column_BOpGp" class="hc_column_cnt col-md-6 col-sm-12">
              <div class="row">
                <div class="col-md-12 hc_subtitle_cnt">
                  <div class="title-base     text-left" id="pjvFE">
                    <hr>
                    <h2>The Technical</h2>
                    <p>We enjoy looking at the technical details of your APIs and understand how they size up against the competition, evaluating the path, parameters, request bodies, responses, and other elements.</p>
                  </div>
                </div>
              </div>
            </div>
  
            
            <div id="column_JDcNM" class="hc_column_cnt col-md-6  no-margins text-right col-sm-12">
              <div class="row">
                <div class="col-md-12 hc_grid_table_cnt">
                  <table class="grid-table full-border-table border-table grid-table-sm-12">
                    <tbody>
                      <tr>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-globe"></i></div>
                            <div class="icon-box-cell"><label class="text-s">Simple</label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-pencil"></i></div>
                            <div class="icon-box-cell"><label class="text-s">Consistent</label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                            <div class="icon-box-cell"><label class="text-s">Intuitive</label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>              
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
                <div class="icon-box-cell"><label class="text-m">Paths</label>
                  <p class="text-s">Provide RESTful guidance regarding naming and structure of paths.</p>
                </div>
              </div>
            </div>                          
          </div>            
        </div>  
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">Methods</label>
                  <p class="text-s">Offer advice regarding how to use your nouns and verbs wisely.</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>  
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">Operations</label>
                  <p class="text-s">Assist in making sure each API operation is as intuitive as possible.</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div> 
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>              
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
                <div class="icon-box-cell"><label class="text-m">Parameters</label>
                  <p class="text-s">Consider your path, query, and header parameters in our evaluation.</p>
                </div>
              </div>
            </div>                          
          </div>            
        </div>  
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">Responses</label>
                  <p class="text-s">Ensure that you are standardized across all of your API responses.</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>  
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">Schema</label>
                  <p class="text-s">Help you standardize the schema you are using in requests and responses.</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>           
  
      </div>
    </div>
  </div>