<div id="technical" class="section-item section-empty">
    <div class="content container">
      <div class="row">
        <div id="column_z70PQ" class="hc_column_cnt col-md-12  text-center   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;"
          data-anima="" aid="0.16726101266016036">
          <div class="row">

            <div id="column_BOpGp" class="hc_column_cnt col-md-6 col-sm-12">
              <div class="row">
                <div class="col-md-12 hc_subtitle_cnt">
                  <div class="title-base     text-left" id="pjvFE">
                    <hr>
                    <h2>{{ site.technical_title }}</h2>
                    <p>{{ site.technical_body_1 }}</p>
                  </div>
                </div>
              </div>
            </div>
              
            <div id="column_JDcNM" class="hc_column_cnt col-md-6  no-margins text-right col-sm-12">
              <div class="row">
                <div class="col-md-12 hc_grid_table_cnt">
                  <table class="grid-table full-border-table border-table grid-table-sm-12">
                    <tbody>
                      <tr>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-globe"></i></div>
                            <div class="icon-box-cell"><label class="text-s">{{ site.technical_bullet_1 }}</label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-pencil"></i></div>
                            <div class="icon-box-cell"><label class="text-s">{{ site.technical_bullet_2 }}</label>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="icon-box text-top icon-box-top-bottom">
                            <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                            <div class="icon-box-cell"><label class="text-s">{{ site.technical_bullet_3 }}</label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>              
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_one }}</label>
                  <p class="text-s">{{ site.technical_desc_one }}</p>
                </div>
              </div>
            </div>                          
          </div>            
        </div>  
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_two }}</label>
                  <p class="text-s">{{ site.technical_desc_two }}</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>  
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_three }}</label>
                  <p class="text-s">{{ site.technical_desc_three }}</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div> 
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>              
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-android-store"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_four }}</label>
                  <p class="text-s">{{ site.technical_desc_four }}</p>
                </div>
              </div>
            </div>                          
          </div>            
        </div>  
        
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_five }}</label>
                  <p class="text-s">{{ site.technical_desc_five }}</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>  
  
        <div id="column_P63l2" class="hc_column_cnt col-md-4  col-sm-12   fade-bottom"
          style="position: relative; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" data-anima="" aid="0.7610684588938004">
          <div class="row">
  
            <div class="col-md-12 hc_space_cnt">
              <hr class="space m">
            </div>
  
            <div class="col-md-12 hc_icon_box_cnt">
              <div class="icon-box text-left">
                <div class="icon-box-cell"><i class="text-l im-laptop-3"></i></div>
                <div class="icon-box-cell"><label class="text-m">{{ site.technical_title_six }}</label>
                  <p class="text-s">{{ site.technical_desc_six }}</p>
                </div>
              </div>
            </div>                            
          </div>            
        </div>           
  
      </div>
    </div>
  </div>